/* Font familly Monterrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Font familly paprika */
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
:root {
    /* Color */
    --bg_page : rgb(42, 50, 55);
    --primary_color : #fff;
    --secondary_color : #838383;
    --three_color : #a78539;

    /* Font Familly */
    --montserrat : 'Montserrat', sans-serif;
}


body {
    background-color: var(--bg_page);
    font-family: var(--montserrat);
    overflow-x: hidden;
}

/* === PARTIE COMMUNE === */

/* DIV avec les titres des parties */
.contentTitre {
    margin: 100px 0 100px 0;
    text-align: center;
    position: relative;
}

.contentTitre::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    background-color: var(--three_color);
    bottom: -30px;
    left: calc(50% - 50px);
}

.titrePart {
    color: #fff;
    margin: 10px 0;
}

/* ===== haut de page ===== */
.haut-page {
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
}   


.haut-page > img {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: -12;
	object-fit: cover;
}

.haut-page .row {
    height: 100%;
}

.haut-page h1 {
    color: #fff;
    font-size: 50px;
    font-family: 'Paprika', cursive;
}

.haut-page p {
    margin-top: 30px;
    font-family: 'Paprika', cursive;
}
.container-gauche {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}

/* Espace à gauche du texte au niveau du haut de page */
.container-gauche div {
    margin-left: 100px;
    transition: all .5s ease;
}

.container-gauche p {
    color: var(--three_color);
    margin-bottom: 50px;
}


.btn_contact {
    width: 200px;
    border: 1px solid var(--three_color);
    text-align: center;
    padding: 20px 50px;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease;
}

.btn_contact img {
    transform: translate(10px ,-2px);
    transition: all .2s ease;
}

.btn_contact:hover {
    background-color: var(--three_color);
    color: #fff;
}


.btn_contact:hover img {
    transform: translate(30px, -2px);
}

/* Contenu de la page */
.content {
    margin-top: 20px;
}

/* =====   Moi    ===== */
.moi:hover .iconEntete {
    transform: translateY(-10px);
}

.iconEntete {
    transition: transform .5s ease;
}
.moi .img {
    text-align: center;
    border-right: 1px solid #fff;

}

.moi .txt {
    color: #fff;
    margin-top: 70px;
    padding-left: 80px;
}

.txt div {
    margin: 50px 0 0 0;
}
.moi .txt p {
    width: 70%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.moi .imageProfil {
    width: 300px;
    text-align: center;
    transition: transform .5s ease-in-out;
}

.moi .imageProfil:hover {
    transform: scale(1.05) rotate(5deg);
}

.separateur {
    width: 70%;
    background-color: rgb(180, 180, 180);
    height: 1px;
}

.tableMoi {
    margin-top: 50px;
    width: 70%;
    border-collapse: collapse;
}

.tableMoi .titreTable {
    font-weight: bold;
}

.tableMoi .resultTitre {
    color: #c1baba;
}


/* Mes compétences */


/* LANGUAGES LOGICIELS */
.content_progessBar {
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
}

.ensemble_progressbar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.progressBar {
    width: 40%;
    height: 20px;
    position: relative;
    border: 1px solid #ffff;
    margin: 0 20px;
    overflow: hidden;
    border-radius: 10px;
    animation: all .5s ease;
}

.progressBar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    animation: all .5s linear;
}   

.progressBar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #a78539;
    animation: all 5s linear;
    border-radius: 10px;
    transition: width .5s linear;
}   

/* Pourcentage de remplissment des bars de progressions */
#competence:hover .progressBar {
    border-color: var(--three_color);
}

#competence:hover .html::after {
    animation: animate_progressBar_html 2s ease forwards;
    /* width: 90%; */
}

#competence:hover .css::after {
    animation: animate_progressBar_css 2s .5s forwards;
    /* width: 90%; */
}

#competence:hover .java::after {
    animation: animate_progressBar_java 2s 1s forwards;
    
    /* width: 80%; */
}

#competence:hover .sql::after {
    animation: animate_progressBar_sql 2s 1.5s forwards;
    /* width: 60%; */
}

#competence:hover .c::after {
    animation: animate_progressBar_c 2s 2s forwards;
    /* width: 70%; */
}

@keyframes animate_progressBar_html {
    100% {
        width: 90%;
    }
}

@keyframes animate_progressBar_css {
    100% {
        width: 90%;
    }
}

@keyframes animate_progressBar_java {
    to {
        width: 80%;
    }
}

@keyframes animate_progressBar_sql {
    to {
        width: 60%;
    }
}

@keyframes animate_progressBar_c {
    to {
        width: 70%;
    }
}

.html::before {
    width: 90%;
}

.css::before {
    width: 90%;
}

.java::before {
    width: 80%;
}

.sql::before {
    width: 60%;
}

.c::before {
    width: 70%;
}




/* AUTRES COMPETENCE */
.content_card {
    display: flex;
    justify-content: space-around;
}
.slide, .card, .front, .back {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

/* Face de l'objet */
.front {
    background-color : var(--primary_color);
    color: var(--color_font);
    text-align: center;
    box-shadow: 5px 5px 24px -4px var(--color_font);
}

.front > i {
    font-size: 40px;
    margin-top: 20px;
}

.front > p {
    font-size: 20px;
    margin-top: 20px;

}

/* Arrière de l'objet */


.back {
    background-color: var(--primary_color);
}

.back > p {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
}


.slide {
    perspective: 1000px;
}

.slide:hover .card, .slide.hover {
    transform: rotateY(-180deg);
}

.card {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(-180deg);
}

.card img {
    margin-top: 50px;
}

/* Partie historique */
#historique {
    position: relative;
    margin-top: 200px;

}

#historique:hover .iconEntete {
    transform: translateY(-10px);
}

#competence {
    margin-top: 50px;
}

#competence:hover .iconEntete {
    transform: translateY(-10px);
}

/* Bouton pour télécharger les projets */
.btn_telecharger {
    color: var(--three_color);
    position: relative;
    width: 300px;
    padding: 15px 25px;
    border: 1px solid var(--three_color);
    transition: color .2s linear;
    text-decoration: none;
}

.btn_telecharger svg {
    margin-left: 15px;
}

.btn_telecharger path {
    stroke: var(--three_color);
    transition: stroke .2s linear;
}

.btn_telecharger:hover path {
    stroke: #fff;
}
.btn_telecharger::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background-color: none;
    transition: .3s linear;
    z-index: -1;
    opacity: 0;
}

.btn_telecharger:hover::before {
    background-color: var(--three_color);
    top: 0;
    left: 0;
    width: 99%;
    height: 100%;
    opacity: .5;
}

.btn_telecharger:hover {
    color: #fff;
}



.content-text-droite h1, .content-text-gauche h1 {
    color: var(--three_color);
}

/* Contenu de l'historique part 1 */
.content-text-droite {
    position: relative;
    border-left: 1px solid var(--primary_color);
    padding: 20px;
    padding-left: 50px;
}

.content-text-droite p, .content-text-droite h2 {
    color: var(--primary_color);
}

.content-text-droite p, .content-text-gauche p {
    margin-bottom: 50px;
}

.content-text-droite::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    left: -6px;
    top: 50%;
    border-radius: 50%;
    background-color: var(--primary_color);
}

.content-date-gauche h2 {
    color: var(--primary_color);
    text-align: right;
    padding-right: 50px;
    position: relative;
    top: 45%;
}

/* Contenu de l'historique part 2 */
.content-text-gauche {
    padding: 20px;
    position: relative;
    height: 200px;
}

.aze {
    position: absolute;
    width: 500px;
    right: 0;
}

.content-text-gauche p, .content-text-gauche h2 {
    color: var(--primary_color);
}

.content-date-droite {
    border-left: 1px solid var(--primary_color);
    position: relative;
}

.content-date-droite h2 {
    position: relative;
    color: var(--primary_color);
    top: 45%;
    margin-left: 50px;
}

.content-date-droite::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    left: -6px;
    top: 50%;
    border-radius: 50%;
    background-color: var(--primary_color);
}


@media screen and (max-width : 450px) {
    .carte {
        flex-direction: column;
        align-items: center;
    }

    .carte .slide {
        margin: 20px 0 20px 0;

    }
}

/* ------------------ ECRAN MOYEN -------------------------- */
@media screen and (max-width : 1050px) {

    /* ======= Changement pour la partie haut de page ======= */
    /* On change l'espace a gauche du titre au niveau de l'image */
    .container-gauche div {
        margin-left: 20px;
    }

    /*On change les tailles de police du texte en haut de page */
    .container-gauche h1 {
        font-size: 30px;
    }

    .container-gauche p {
        font-size: 15px;
    }

    /* ======= Changement pour la partie mes compétences ======= */
    .carte {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
    }
    /* ======= Changement pour la partie historique ======= */

    /* Onn change les tailles de polices */
    .content-text-gauche h1, .content-text-droite h1 {
        font-size: 20px;
    }

    .content-text-gauche h2, .content-text-droite h2 {
        font-size: 15px;
    }

    .content-text-gauche p, .content-text-droite p {
        font-size: 10px;
    }

    .aze {
        width: 300px;
    }
}

/* ------------------ ECRAN TRES PETIT -------------------------- */
@media screen and (max-width : 600px) {

    /* ======= Changement générale ============== */
    .titrePart {
        font-size: 20px;
    }

    /* ======= Changement pour la partie haut de page ======= */

    /* On change l'espace a gauche du titre au niveau de l'image */
    .container-gauche div {
        margin-left: 10px;
    }

    /*On change les tailles de police du texte en haut de page */
    .container-gauche h1 {
        font-size: 20px;
    }

    .container-gauche p {
        font-size: 10px;
    }

    /* ======= Changement pour la partie mes compétences ======= */
    .carte {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 100px;
        margin-left: 20%;
    }
    /* ======= Changement pour la partie historique ======= */
}




/* ------------------ ECRAN MOYEN -------------------------- */
@media screen and (max-width : 751px) {

    /* ======= Changement pour la partie haut de page ======= */
    /* On change la flex direction des cartes */
    .content_card {
        flex-direction: column;
    }

    .content_card > div {
        margin: 20px 0;
    }

    .content_card .slide {
        position: relative;
        left: calc(50% - 100px);
    }
    

    /* ======= Changement pour la partie mes compétences ======= */
    
    /* ======= Changement pour la partie historique ======= */
    .aze {
        left: 50px;
    }

    .content-date-droite {
        border: none;
    }

    .content-date-droite::before {
        width: 0;
    }
    
    .content-text-gauche {
        border-left: 1px solid var(--primary_color);
    }
    .content-text-gauche::before {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        left: -6px;
        top: 50%;
        border-radius: 50%;
        background-color: var(--primary_color);
    }

    .btn_telecharger {
        width: 100px;
        font-size: 10px;
        padding: 10px 20px;
    }
    
}



/* Contact : Formulaire */
#contact {
    margin-top: 200px;
    text-align: center;
    color: #505050;
    padding-top: 10px;
}

#contact:hover .iconEntete {
    transform: translateY(-10px);
}


#contact .titrePart {
    color: #505050;
}

#contact .contentTitre {
    margin: 20px 0 100px 0;
}


/* === Contenu de la partie contact */
.ensemble_contact_content {
    background-color: #ffff;
}

.contact_content_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_content_left div {
    width: 80%;
    text-align: left;
}

.list_contact {
    margin-bottom: 50px;
}
.list_contact a {
    padding: 10px;
    color: #505050;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s ease;
}

.list_contact > div {
    margin: 20px 0;
}
.list_contact a:hover {
    text-decoration: underline;
    color: #000;
}


.list_contact img {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.contact_content_right {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-left: 1px solid #505050;
    margin-bottom: 50px;
}

.contact_content_right a {
    padding: 20px 12px;
    margin: 0 20px;
    border: 1px solid #505050;
    border-radius: 7px;
    transition: all .5s ease;
}

.contact_content_right img {
    transition: all .5s ease;
}
.contact_content_right a:hover {
    background-color: #a784392f;
}

.contact_content_right a:hover img {
    transform: scale(1.1) rotate(5deg);
}

.menu_nav {
    margin: 20px 0 50px 0;
}
.menu_nav a {
    color: var(--three_color);
    text-decoration: none;
    font-size: 25px;
    margin: 0 20px;
    padding: 10px;
    position: relative;
}

.menu_nav a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #a784392f;
    width: 0;
    height: 0;
    border-radius: 5px;
    transition: all .5s ease;
}

.menu_nav a:hover::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.copyright {
    color: rgba(66, 66, 66, 0.418);
}

/* ==== CURSEUR ===== */
.cursor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;

}

.cursorClick {
    animation: cursorClick .5s;
    transition: all ease .5s;
    border-color: #fff;
}

@keyframes cursorClick {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}


/*  Animation titre */
.nom path:nth-child(1) {
    stroke-dasharray: 545;
    stroke-dashoffset: 545;
    animation: animate_line 2s ease forwards;
}
.nom path:nth-child(2) {
    stroke-dasharray: 623;
    stroke-dashoffset: 623;
    animation: animate_line 2s ease forwards .3s;
}
.nom path:nth-child(3) {
    stroke-dasharray: 587;
    stroke-dashoffset: 587;
    animation: animate_line 2s ease forwards .6s;
}
.nom path:nth-child(4) {
    stroke-dasharray: 758;
    stroke-dashoffset: 758;
    animation: animate_line 2s ease forwards .9s;
}
.nom path:nth-child(5) {
    stroke-dasharray: 584;
    stroke-dashoffset: 584;
    animation: animate_line 2s ease forwards 1.2s;
}
.nom path:nth-child(6) {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: animate_line 2s ease forwards 1.5s;
}
.nom path:nth-child(7) {
    stroke-dasharray: 642;
    stroke-dashoffset: 642;
    animation: animate_line 2s ease forwards 1.8s;
}
.nom path:nth-child(8) {
    stroke-dasharray: 573;
    stroke-dashoffset: 573;
    animation: animate_line 2s ease forwards 2.1s;
}
.nom path:nth-child(9) {
    stroke-dasharray: 712;
    stroke-dashoffset: 712;
    animation: animate_line 2s ease forwards 2.4s;
}
.nom path:nth-child(10) {
    stroke-dasharray: 643;
    stroke-dashoffset: 643;
    animation: animate_line 2s ease forwards 2.7s;
}
.nom path:nth-child(11) {
    stroke-dasharray: 524;
    stroke-dashoffset: 524;
    animation: animate_line 2s ease forwards 3s;
}
.nom path:nth-child(12) {
    stroke-dasharray: 806;
    stroke-dashoffset: 806;
    animation: animate_line 2s ease forwards 3.3s;
}
.nom path:nth-child(13) {
    stroke-dasharray: 573;
    stroke-dashoffset: 573;
    animation: animate_line 2s ease forwards 3.6s;
}
.nom path:nth-child(14) {
    stroke-dasharray: 692;
    stroke-dashoffset: 692;
    animation: animate_line 2s ease forwards 3.9s;

}
.nom path:nth-child(15) {
    stroke-dasharray: 772;
    stroke-dashoffset: 772;
    animation: animate_line 2s ease forwards 4.2s;
}
.nom path:nth-child(16) {
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    animation: animate_line 2s ease forwards 4.5s;
}

@keyframes animate_line {
    to {
        stroke-dashoffset: 0;
    }
}

/* ====== Contenu avec la lsite des projets effectués ====== */
.content_projet {
    display: flex;
    justify-content: space-around;
}

.card_projet {
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card_projet h1 {
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.card_projet p {
    color: #fff;
    margin-top: 20px;
}


.card_projet img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.btn_projet_tel {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: #fff;
    text-align: center;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
}

